@model SquadManager.Models.UserViewModel

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" />

<form action="/Login/Test" method="post">
    <section
    <h1>Autenticação</h1>
    <input type="text" name="email" value="@Model.Email" placeholder="username/e-mail"/>
    <input type="password" name="password" value="@Model.Password" placeholder="password" />
    <a href="#">Esqueceu a senha?</a>

    <button type="submit">Login</button>

    <label>Não tem conta?<a href="#">Crie aqui</a> </label>
    </section>
</form>